@{
    ViewBag.Title = "Online Project Management";
}
<div class="row">
    <div class="span12">
        <div id="hero">
        </div>
        <div id="call-to-action">
            <div id="call-to-action-header">
                FREE STARTER EDITION
            </div>
            <div id="call-to-action-button">
                <a class="btn-signup btn btn-success" href="https://members.viewpath.com/SignupIQ/Signup.aspx">Signup Now!</a> No credit card required
            </div>
            <div id="call-to-action-text">
                Manage as many projects as you want, and add as many guests as you need. There's
                        no software to download or install!
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="call-to-action-shadow">
            <img alt="Shadow for call-to-action box" src="Content/images/call2action_shadow.png" />
        </div>
        <h2 id="subheader">Viewpath is leading the way in online project management solutions.</h2>
    </div>
</div>
<div class="row product-videos">
    <div id="video1" class="span3 video">
        <div class="video-header">
            Task Scheduling
        </div>
        <a class="video-btn" href="#watchvideo1">
            <img alt="" src="Content/images/home_video_1_thumbnail.png" /><br />
        </a>
        <div class="video-footer">
            Play Video
        </div>
    </div>
    <div id="video-text" class="span6">
        <p id="video-text-header">
            Viewpath is your answer to managing all of your projects, teams, and tasks.
        </p>
        <p>
            With limited resources and competing priorities, you need up-to-date information
                    on project status, task assignments, and resource availability. Viewpath delivers
                    a project management solution that your entire team can use to track their workload
                    and update the status of their assignments. Viewpath replaces ad-hoc spreadsheets,
                    excessive team meetings, and legacy desktop project management software, providing
                    a cloud-based solution that brings your team together to help your project succeed.
        </p>
    </div>
    <div id="video2" class="span3">
        <div class="video-header">
            Resource Management
        </div>
        <a class="video-btn" href="#watchvideo2">
            <img alt="" src="Content/images/home_video_2_thumbnail.png" /><br />
        </a>
        <div class="video-footer">
            Play Video
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="logobox">
            <span>Thousands of businesses choose Viewpath</span>
            <img src="Content/images/logo_abbott.png" alt="Logo Abbott" />
            <img src="Content/images/logo_broad_institute.png" alt="Logo Broad Institute" />
            @*                   <img src="Content/images/logo_harvard.png" alt="Logo Harvard" />   This needs to be replaced by the IHS logo found on Staging *@
            <img src="Content/images/logo_hr.png" alt="Logo HR" />
            <img src="Content/images/logo_noaa.png" alt="Logo NOAA" />
            <img src="Content/images/logo_salesforce.png" alt="Logo Salesforce" />
        </div>
    </div>
</div>
