@{
    ViewBag.Title = "Product";
}
<div class="row">
    <div id="side-menu-column" class="span3">
        <ul id="side-menu"> 
            <li class="active"><a href="#">Product Overview</a></li>
            <li><a href="#">Product Tour</a></li>
            <li><a href="#">Key Features</a></li>
            <li><a href="#">Editions &amp; Pricing</a></li>
            <li><a href="#">Salesforce Integration</a></li>
            <li><a href="#">Google Integration</a></li>
        </ul>
    </div>
    <div id="content" class="span9">
        <a class="btn-signup btn btn-success" href="https://members.viewpath.com/SignupIQ/Signup.aspx">Signup</a>
        <h3>
            Product Overview</h3>
        <p>
            The 3.0 release builds on Viewpath’s proven success in delivering online project
            collaboration tools that are easy to afford and easy to deploy. This next-generation
            release combines the latest web technologies with Viewpath’s 8 years of experience
            in working with more than 100,000 customers, from all types of industries.
        </p>
    </div>
</div>
